# Created by .ignore support plugin (hsz.mobi)

# Created by https://www.gitignore.io/api/java,androidstudio
# Edit at https://www.gitignore.io/?templates=java,androidstudio

### C++ ###
# Add file names of files that need to be ignored here


### AndroidStudio ###

# End of https://www.gitignore.io/api/java,androidstudio
